.App {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}
.Concepts {
  padding: 100vh;
  margin: 20px 20px 20px 20px;
  opacity: 0.5;
}

.Variables {
  padding: 50vh;
  margin: 20px 20px 20px 20px;
  display: inline;
  background: rgb(196, 17, 17);
}
